@model List<K2E.Entities.Instructor>
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <h2 class="fw-bolder text-danger">Conoce a todos Nuestros Instructores</h2>
    @foreach (var item in Model)
    {
        <div class="col-3">


            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">

                <div class="card-body">
                    <h5 class="card-title">@item.Nombre </h5>
                    <p class="card-text">@item.SobreMi</p>
                </div>

            </div>
        </div>
    }

</div>
